[Desktop Entry]
Name=Blue Curl
Name[ast]=Ondes azules
Name[bg]=Синя извивка
Name[bs]=Plava kovrča
Name[ca]=Rínxol blau
Name[ca@valencia]=Rínxol blau
Name[cs]=Modrá kudrlinka
Name[da]=Blue Curl
Name[de]=Blaue Schnörkel
Name[el]=Blue Curl
Name[en_GB]=Blue Curl
Name[es]=Rizo azul
Name[et]=Sinikähar
Name[eu]=Kizkur urdina
Name[fi]=Sininen kiehkura
Name[fr]=Boucle bleue
Name[ga]=Blue Curl
Name[gl]=Rizo azul
Name[hu]=Kék fodor
Name[it]=Ricciolo blu
Name[kk]=Көк шиыршық
Name[ko]=파란 물결
Name[lt]=Blue Curl
Name[lv]=Zilā spirāle
Name[nb]=Blå krøll
Name[nds]=Blaag Küsel
Name[nl]=Blauwe golf
Name[nn]=Blåkrøll
Name[pl]=Niebieski zawijas
Name[pt]=Onda Azul
Name[pt_BR]=Ondulação azul
Name[ru]=Завитки
Name[sk]=Modrá špirála
Name[sl]=Modra vitica
Name[sq]=Blue Curl
Name[sr]=Плава локна
Name[sr@ijekavian]=Плава локна
Name[sr@ijekavianlatin]=Plava lokna
Name[sr@latin]=Plava lokna
Name[sv]=Blå lockar
Name[tr]=Mavi Büklüm
Name[uk]=Синій завиток
Name[x-test]=xxBlue Curlxx
Name[zh_CN]=蓝色旋卷
Name[zh_TW]=藍色螺旋

X-KDE-PluginInfo-Name=Blue_Curl
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
