Fedora.tar.gz filter=lfs diff=lfs merge=lfs -text
manjaro_xfce.tar.gz filter=lfs diff=lfs merge=lfs -text
plasma.tar.gz filter=lfs diff=lfs merge=lfs -text
raspbian.tar.gz filter=lfs diff=lfs merge=lfs -text
antiX.tar.gz filter=lfs diff=lfs merge=lfs -text
deepin.tar.gz filter=lfs diff=lfs merge=lfs -text
elementary.tar.gz filter=lfs diff=lfs merge=lfs -text
endeavour.tar.gz filter=lfs diff=lfs merge=lfs -text
solus.tar.gz filter=lfs diff=lfs merge=lfs -text
ubuntu.tar.gz filter=lfs diff=lfs merge=lfs -text
Zorin-OS.tar.gz filter=lfs diff=lfs merge=lfs -text
gnome.tar.gz filter=lfs diff=lfs merge=lfs -text
lineageos.tar.gz filter=lfs diff=lfs merge=lfs -text
mint.tar.gz filter=lfs diff=lfs merge=lfs -text
Pop_OS!.tar.gz filter=lfs diff=lfs merge=lfs -text
aosp.tar.gz filter=lfs diff=lfs merge=lfs -text
bluelake.tar.gz filter=lfs diff=lfs merge=lfs -text
Debian.tar.gz filter=lfs diff=lfs merge=lfs -text
MX-Linux.tar.gz filter=lfs diff=lfs merge=lfs -text
