[Desktop Entry]
Name=Horos
Name[ast]=Horos
Name[bs]=Horos
Name[ca]=Horos
Name[ca@valencia]=Horos
Name[cs]=Horos
Name[da]=Horos
Name[de]=Horos
Name[el]=Horos
Name[en_GB]=Horos
Name[es]=Horos
Name[et]=Horos
Name[eu]=Horos
Name[fa]=هوروس
Name[fi]=Horos
Name[fr]=Horos
Name[ga]=Horos
Name[gl]=Horos
Name[hu]=Horos
Name[is]=Horos
Name[it]=Horos
Name[kk]=Хорос
Name[km]=Horos
Name[ko]=호로스
Name[lt]=Horos
Name[mr]=होरोस
Name[nb]=Horos
Name[nds]=Horos
Name[nl]=Horos
Name[nn]=Horos
Name[pl]=Horos
Name[pt]=Horos
Name[pt_BR]=Horos
Name[ro]=Horos
Name[ru]=Хорос
Name[sk]=Horos
Name[sl]=Horos
Name[sr]=Хорос
Name[sr@ijekavian]=Хорос
Name[sr@ijekavianlatin]=Horos
Name[sr@latin]=Horos
Name[tr]=Horos
Name[ug]=پالچىلىق
Name[uk]=Хорос
Name[x-test]=xxHorosxx
Name[zh_CN]=舞动

X-KDE-PluginInfo-Name=Horos
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
